html {
	background: linear-gradient( #bbb, transparent 1px), linear-gradient( 90deg, #bbb, transparent 1px);
	background-size: 20px 20px;
    font-size: 20px;
	background-position: center center;
    font-family: sans-serif;
    position: relative;
}

.desk {
    min-width: 500px;
}

button {
    all: unset;
    cursor: pointer;
    display: block;
    border: 1px solid black;
    border-radius: 15px;
    padding: 15px 25px;
    background-color:white;
}

.desk__add-button {
    margin-bottom: 20px;
    margin-left: auto;
}

.ticket {
    border: 1px solid black;
    padding: 10px 20px 10px 5px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 10fr 4fr 1fr 1fr;
    grid-gap: 5px;
}

.ticket:nth-child(n+2) {
    border-top: 0;
}

.ticket__check {
    width: 40px;
    height: 40px;
    margin: 0;
}

.ticket__name {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
}

.ticket__button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
    font-size: larger;
}

.ticket__change {
    padding-left: 7px;
    padding-bottom: 2px;
}

.popup {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1;
    left: 50%;
    transform: translate(-50%);
    width: 50%;
    border: 1px solid black;
    padding: 5%;
    border-radius: 15px;
    min-width: 270px;
}

.popup__form {
    margin-top: 20px;
}

.label-input {
    display: block;
    margin-bottom: 20px;
}

.short-description, .detailed-description {
    border: 1px solid black;
    height: 40px;
    box-sizing: border-box;
    padding: 0 10px;
    margin-bottom: 20px;
    width: 100%;
}

.popup__text {
    display: none;
}

.button-panel {
    display: flex;
    justify-content: end;
}

.form__button {
    border: 1px solid black;
    border-radius: 15px;
    margin-top: 20px;
    height: 40px;
    box-sizing: border-box;
    padding: 5px 40px;
}

.ok-button {
    margin-left: 20px;
}


